<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>青熊兽的侵略</string>
			<key>pic</key>
			<string>l1_1</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>狩猎	1800z
150z
溪流（昼）	*小狗龙
*丸鸟</string>
		</dict>
		<dict>
			<key>name</key>
			<string>突进、猛进、大野猪王</string>
			<key>pic</key>
			<string>l1_2</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>野猪王1头狩猎	狩猎	1800z
150z
溪流（昼）	*野猪
*小狗龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>示范如何狩猎狗龙！</string>
			<key>pic</key>
			<string>l1_3</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>	青熊兽1头狩猎	狩猎	1800z
150z
溪流（昼）	*小狗龙
*雌狗龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>帮助收集蜂蜜</string>
			<key>pic</key>
			<string>l1_4</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>皇家蜂蜜7个交纳	采集	900z
100z
溪流（昼）	*青熊兽
*小狗龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>沙漠的狗龙</string>
			<key>pic</key>
			<string>l1_5</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>	小狗龙10头讨伐	讨伐	1200z
100z
砂原（昼）	*狗龙王
*小狗龙	</string>
		</dict>
		<dict>
			<key>name</key>
			<string>古代的浪漫？龙骨结晶！</string>
			<key>pic</key>
			<string>l1_6</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>小狗龙10头讨伐	采集	900z
100z
砂原（夜）	*狗龙王
*小狗龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>水没林暴力团</string>
			<key>pic</key>
			<string>l1_7</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>	毒狗龙1头狩猎	狩猎	1800z
150z
水没林（昼）	*小毒狗龙
*水生兽	</string>
		</dict>
		<dict>
			<key>name</key>
			<string>毒之毒狗龙</string>
			<key>pic</key>
			<string>l1_8</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>小毒狗龙10头讨伐	讨伐	1200z
100z
水没林（夜）	*毒狗龙
*小毒狗龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>特产蘑菇盛宴</string>
			<key>pic</key>
			<string>l1_9</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>特产蘑菇20个交纳	采集	900z
100z
水没林（昼）	*野猪王
*甲虫</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>疾走嘉年华</string>
			<key>pic</key>
			<string>l2_0</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>野猪10头讨伐	讨伐	1200z
100z
溪流（夜）	*野猪王
*野猪</string>
		</dict>
		<dict>
			<key>name</key>
			<string>击退溪流的雌狗龙</string>
			<key>pic</key>
			<string>l2_1</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雌狗龙3头讨伐	讨伐	1200z
100z
溪流（昼）	*狗龙王
*雌狗龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>土砂龙</string>
			<key>pic</key>
			<string>l2_2</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>	土砂龙1头狩猎	狩猎	2400z
200z
砂原（昼）	*小狗龙
*草食龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>沙上的礼节</string>
			<key>pic</key>
			<string>l2_3</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>潜口龙1头狩猎	狩猎	3000z
250z
砂原（昼）	*草食龙
*砂鱼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>击退欺诈师</string>
			<key>pic</key>
			<string>l2_4</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>彩鸟1头狩猎	狩猎	2400z
200z
砂原（昼）	*小狗龙
*草食龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>注意落石</string>
			<key>pic</key>
			<string>l2_5</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>赤甲兽1头狩猎	狩猎	2400z
200z
砂原（夜）	*小狗龙
*甲虫</string>
		</dict>
		<dict>
			<key>name</key>
			<string>游走在沙原的美味</string>
			<key>pic</key>
			<string>l2_6</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>怪物的肝5个交纳	采集	1200z
100z
砂原（昼）	*赤甲兽
*砂鱼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>强袭的孤岛水流</string>
			<key>pic</key>
			<string>l2_7</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>水兽1头狩猎	狩猎	2400z
200z
孤島（昼）	*水生兽
*野猪</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孤岛的海贼团</string>
			<key>pic</key>
			<string>l2_8</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>	水生兽10头讨伐	讨伐	1200z
100z
孤島（昼）	*青熊兽
*水生兽</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黑暗中蠕动的猛毒</string>
			<key>pic</key>
			<string>l2_9</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>	毒怪龙1头狩猎	狩猎	3000z
250z
冻土（昼）	*小眠狗龙
*小狗龙	</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雪中的白兔兽</string>
			<key>pic</key>
			<string>l2_10</string>
			<key>brief</key>
			<string>白兔兽1头狩猎	狩猎	2400z
200z
冻土（昼）	*小眠狗龙
*波波</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>极寒之地的采掘委托</string>
			<key>pic</key>
			<string>l2_11</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>血石8个交纳	采集	900z
100z
冻土（夜）	*野猪王
*野猪</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>溪流：素材之旅</string>
			<key>pic</key>
			<string>l3_0</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>砂原：素材之旅</string>
			<key>pic</key>
			<string>l3_1</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>水没林：素材之旅</string>
			<key>pic</key>
			<string>l3_2</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>开始狩猎狗龙！</string>
			<key>pic</key>
			<string>l3_3</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>狗龙王1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>溪流狗龙讨伐作战</string>
			<key>key</key>
			<false/>
			<key>pic</key>
			<string>l3_4</string>
			<key>brief</key>
			<string>小狗龙20头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>梦幻的蘑菇果汁</string>
			<key>pic</key>
			<string>l3_5</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>特产蘑菇20个交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>土砂龙！</string>
			<key>pic</key>
			<string>l3_6</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>土砂龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>砂原游手好闲者的头</string>
			<key>pic</key>
			<string>l3_7</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>狗龙王1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闹事的坚甲食草龙</string>
			<key>pic</key>
			<string>l3_8</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>草食龙8头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>游在砂原的美味！？</string>
			<key>pic</key>
			<string>l3_9</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>怪物的肝10个交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎水兽！</string>
			<key>pic</key>
			<string>l3_10</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>水兽1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>水没林暴力队</string>
			<key>pic</key>
			<string>l3_11</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>毒狗龙王1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>飞奔的凶猛大猪！</string>
			<key>pic</key>
			<string>l3_12</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>野猪王1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎水生兽！</string>
			<key>pic</key>
			<string>l3_13</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>水生兽10头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄金礼物</string>
			<key>pic</key>
			<string>l3_14</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>黄金鱼3条交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>猎杀彩鸟！</string>
			<key>pic</key>
			<string>l3_15</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>彩鸟1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>为了主人的孤岛</string>
			<key>pic</key>
			<string>l3_16</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>青熊兽1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>老婆当家也不轻松</string>
			<key>pic</key>
			<string>l3_17</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雌狗龙8头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>飞甲虫的盛宴!!!</string>
			<key>pic</key>
			<string>l3_18</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>飞甲虫50条讨伐</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>孤岛的采集之旅</string>
			<key>pic</key>
			<string>l4_0</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土的采集之旅</string>
			<key>pic</key>
			<string>l4_1</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>火山的采集之旅</string>
			<key>pic</key>
			<string>l4_2</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雌火龙出现</string>
			<key>pic</key>
			<string>l4_3</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雌火龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>红煌流星</string>
			<key>pic</key>
			<string>l4_4</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>迅龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>溪流的骚乱小子</string>
			<key>pic</key>
			<string>l4_5</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>彩鸟1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大野猪的大集会</string>
			<key>pic</key>
			<string>l4_6</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>野猪20头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>落石注意！？</string>
			<key>pic</key>
			<string>l4_7</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>赤甲兽1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>砂上的用餐礼仪</string>
			<key>pic</key>
			<string>l4_8</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>潜口龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>交纳龙骨结晶吧！</string>
			<key>pic</key>
			<string>l4_9</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>龙骨结晶10个交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>漆黑之影</string>
			<key>pic</key>
			<string>l4_10</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>迅龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎雌火龙女王</string>
			<key>pic</key>
			<string>l4_11</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>雌火龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雪之子白兔兽</string>
			<key>pic</key>
			<string>l4_12</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>白兔兽1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>引导眠意的苍白</string>
			<key>pic</key>
			<string>l4_13</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>眠狗龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>追击毒怪龙！</string>
			<key>pic</key>
			<string>l4_14</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>毒怪龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冰牙龙！</string>
			<key>pic</key>
			<string>l4_15</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>冰牙龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>前进！冻土调查队！</string>
			<key>pic</key>
			<string>l4_16</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>小眠狗龙20头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>极寒之地的采集委托</string>
			<key>pic</key>
			<string>l4_17</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>血石8个交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>开始！波波的舌头品评会？</string>
			<key>pic</key>
			<string>l4_18</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>波波的舌头5个交纳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赤甲兽出现！</string>
			<key>pic</key>
			<string>l4_19</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>赤甲兽1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>火山的毒物</string>
			<key>pic</key>
			<string>l4_20</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>毒狗龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>威胁！火山的铁锤！</string>
			<key>pic</key>
			<string>l4_21</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>爆锤龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>注意脚下安全！</string>
			<key>pic</key>
			<string>l4_22</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>熔岩兽15头讨伐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>挖掘吧！燃石炭！</string>
			<key>pic</key>
			<string>l4_23</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>燃石炭20个交纳</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>狩猎与被狩猎！</string>
			<key>pic</key>
			<string>l5_0</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雷狼龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>月夜的暗跃</string>
			<key>pic</key>
			<string>l5_1</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雌火龙1头和尾槌龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎砂原的角龙！</string>
			<key>pic</key>
			<string>l5_2</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>角龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>轰龙迎击战</string>
			<key>pic</key>
			<string>l5_3</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>轰龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>追踪欺诈师！</string>
			<key>pic</key>
			<string>l5_4</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>彩鸟1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>角龙与土砂龙的猛攻！</string>
			<key>pic</key>
			<string>l5_5</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>角龙1头和土砂龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尾槌龙流域</string>
			<key>pic</key>
			<string>l5_6</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>尾槌龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>漆黑的双风</string>
			<key>pic</key>
			<string>l5_7</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>迅龙2头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>无双的猎人</string>
			<key>pic</key>
			<string>l5_8</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雷狼龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎空之王者吧！</string>
			<key>pic</key>
			<string>l5_9</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>雄火龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天与地的领域！</string>
			<key>pic</key>
			<string>l5_10</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>雄火龙1头和雌火龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土轰鸣的咆哮</string>
			<key>pic</key>
			<string>l5_11</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>轰龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>疾风与猛毒</string>
			<key>pic</key>
			<string>l5_12</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>冰牙龙1头和毒怪龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>火之海栖息的龙！</string>
			<key>pic</key>
			<string>l5_13</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>炎戈龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>火山炎上！</string>
			<key>pic</key>
			<string>l5_14</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>炎戈龙1头和爆锤龙1头狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>集结！砂原的土砂龙战</string>
			<key>pic</key>
			<string>l5_15</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>猫宅券交纳
土砂龙2头以上打倒</string>
		</dict>
		<dict>
			<key>name</key>
			<string>栖息于森之物</string>
			<key>pic</key>
			<string>l5_16</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>全部大型怪物狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>砂原的暴食选手权</string>
			<key>pic</key>
			<string>l5_17</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>全部大型怪物狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孤岛之森</string>
			<key>pic</key>
			<string>l5_18</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>全部大型怪物狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>为了吾主前往火山吧</string>
			<key>pic</key>
			<string>l5_19</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>全部大型怪物狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>群集的强豪</string>
			<key>pic</key>
			<string>l5_20</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>全部大型怪物狩猎</string>
		</dict>
		<dict>
			<key>name</key>
			<string>峯山龙</string>
			<key>pic</key>
			<string>l5_21</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>峯山龙1只讨伐</string>
		</dict>
	</array>
</array>
</plist>
