<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>狗龙王</string>
			<key>pic</key>
			<string>mb0</string>
			<key>weak</key>
			<string>1火2水2雷2冰3龙</string>
			<key>atk</key>
			<string>啃咬	前进2-3步啃咬，能连续咬2次
转身啃咬	侧身45°-180°啃咬，准备动作小，容易被打到
铁山靠	侧过身来撞击猎人
甩尾	转身体用尾巴甩猎人，能甩2次
召集指令	召唤狗龙群
攻击指令	使狗龙群攻击意识大大提升</string>
		</dict>
		<dict>
			<key>name</key>
			<string>毒狗龙王</string>
			<key>pic</key>
			<string>mb1</string>
			<key>weak</key>
			<string>1冰2水3雷</string>
			<key>atk</key>
			<string>啃咬	前进2-3步啃咬，能连续咬2次
转身啃咬	侧身45°-180°啃咬，准备动作小，容易被打到
铁山靠	侧过身来撞击猎人
甩尾	转身体用尾巴甩猎人，能甩2次
喷毒雾	吐出毒雾，能在空气中漂浮一段时间
召集指令	召唤狗龙群
攻击指令	使狗龙群攻击意识大大提升</string>
		</dict>
		<dict>
			<key>name</key>
			<string>眠狗龙王</string>
			<key>pic</key>
			<string>mb2</string>
			<key>weak</key>
			<string>1火2水2雷</string>
			<key>atk</key>
			<string>啃咬	前进2-3步啃咬，能连续咬2次
转身啃咬	侧身45°-180°啃咬，准备动作小，容易被打到
铁山靠	侧过身来撞击猎人
甩尾	转身体用尾巴甩猎人，能甩2次
睡眠液	吐出催眠液体，使人睡着
召集指令	召唤狗龙群
攻击指令	使狗龙群攻击意识大大提升</string>
		</dict>
		<dict>
			<key>name</key>
			<string>彩鸟</string>
			<key>pic</key>
			<string>mb3</string>
			<key>weak</key>
			<string>1冰2水3雷3火3龙</string>
			<key>atk</key>
			<string>突进	无准备动作，向前突进一段距离
4连啄	用嘴连续啄四下，也能接于突进后
甩尾	回转身体用尾巴甩人，附带风压【小】效果
打火	向前跃出并撞击两翼的火打石，打出火花来攻击；最多可以连续3次，每次重新修正方向；被打中时会陷入燃烧异常
打火（原地）	原地小后跃并敲击火打石，用火花攻击；被打中时会陷入燃烧异常
飞行	向后跃起并进去低空飞行状态，飞起和降落时附带风压【小】效果
粘液球	同时吐出3个粘液球，方向分别是左中右
演奏	鼓起喉袋演奏：红波（范围内自己以外的大型怪物强制进入怒状态）；橙波（范围内硬化怪物的肉质）；绿波（范围内回复怪物的体力）
呼叫增援	HP被打到一定程度时，呼叫其他大型怪物作为第三方战斗（主要攻击目标依然是猎人）</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>mb4</string>
			<key>name</key>
			<string>红彩鸟</string>
			<key>weak</key>
			<string>1冰2火3水3龙</string>
			<key>atk</key>
			<string>突进	无准备动作，向前突进一段距离
4连啄	用嘴连续啄四下，也能接于突进后
甩尾	回转身体用尾巴甩人，附带风压【小】效果
闪光	鸣3声后放出强光，使人陷入眩晕异常
点雷	向前跃出并撞击两翼的电气石，擦出出电击来攻击；最多可以连续3次，每次重新修正方向；被打中时会陷入带电异常
点雷（原地）	原地小后跃并敲击电气石，用电击攻击；被打中时会陷入带电异常
飞行	向后跃起并进去低空飞行状态，飞起和降落时附带风压【小】效果
粘液球	同时吐出3个粘液球，方向分别是左中右
演奏	鼓起喉袋演奏：红波（范围内自己以外的大型怪物强制进入怒状态）；橙波（范围内硬化怪物的肉质）；绿波（范围内回复怪物的体力）
呼叫增援	HP被打到一定程度时，呼叫其他大型怪物作为第三方战斗（主要攻击目标依然是猎人）</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>野猪王</string>
			<key>pic</key>
			<string>tb0</string>
			<key>weak</key>
			<string>1雷2火3水3冰</string>
			<key>atk</key>
			<string>突进（短）	无预备动作朝猎人进行短距离突进
突进（长）	原地蹭3下猪蹄同时不断修正猎人方位，然后进行长距离突进
导航猪突	（上位怒时限定）先朝猎人突进，然后转为U型突进，转回来再重新锁定猎人突进，追踪性很强
甩牙	先原地甩大牙，然后转身180°再次甩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>青熊兽</string>
			<key>pic</key>
			<string>tb1</string>
			<key>weak</key>
			<string>1火2雷2冰3水</string>
			<key>atk</key>
			<string>熊掌挥击	侧身挥一下熊掌，能追加一下
连续挥击	锁定猎人小步向前进行左右掌交替的挥击，平常挥3下，怒时4下，疲劳时2下
双掌挥击	张开两掌后向前愤力挥击一下
突进	伏下身子进行突进
扑	伏下身子向前跃出进行扑击
捕食攻击	与扑类似，距离较短，扑中后摇动猎人后扔出
PP撞击	（上位限定）用PP朝背后的猎人嘭地顶一下！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>白兔兽</string>
			<key>pic</key>
			<string>tb2</string>
			<key>weak</key>
			<string>1火2雷</string>
			<key>atk</key>
			<string>通常滑行	直线滑行攻击
U型滑行	连续3次直线滑行，呈U字型
大回旋	360°的大回旋滑行，范围较大
折返滑行	直线滑行后折返再接一次滑行
投冰块	扔出冰块，最多可以扔2次
挥击	侧身使用前爪对150°范围使用挥击，可以连续2次
飞扑	伏下身子向前飞扑攻击
PP攻击	使用PP顶后面的猎人
连续挥击	小步朝猎人前进并左右挥击，怒后挥4次，怒前3次</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赤甲兽</string>
			<key>pic</key>
			<string>tb3</string>
			<key>weak</key>
			<string>1水2冰3雷</string>
			<key>atk</key>
			<string>长舌伸缩攻击	伸出很恶心的舌头，左右甩，被击中猎人会被强制向赤甲兽靠近
滚球攻击	身体抱成一团，直线攻击
滚球三连压	身体抱成一团，进行Z字型上跳下压攻击
滚球巨压	身体抱成一团，从高空向下压击，攻击完后有大硬直
臭气攻击	从身体喷出带有恶臭的气体进行360°攻击，攻击附带 恶臭 效果
麻痹球	吐出一个带有 麻痹 效果的电球攻击猎人，被击中后猎人会进入 麻痹 状态
挥击	侧身在150°范围使用挥击，可以挥两次
连续挥击	使用左右前爪交替挥击，怒时挥4次，怒前3次
双爪挥击	张开双爪集中向前使用一次挥击</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>雷狼龙</string>
			<key>pic</key>
			<string>td0</string>
			<key>weak</key>
			<string>1冰2水3火4龙</string>
			<key>atk</key>
			<string>农夫三拳	用前爪交替拍地，超带电前拍2次，超带电后拍3次并附加雷属性【小】
扣尾	背对猎人后，用后空翻将尾巴砸向猎人
突进	向猎人突进攻击，超带电时附带雷属性【小】
猛扑	跃起身子猛地扑向猎人，超带电后可以扑2次
头槌	用头撞击攻击，出招比较突然
阿姆斯特朗大回旋	强力的回旋甩尾攻击，非常帅气，超带电后附加雷属性【大】
蓄电	积蓄雷光虫来提升自己的力量，积蓄中无任何行动，蓄3次后进入超带电状态（濒死时只需蓄1次）
雷光球	小跃一下身体放出雷光球，带电前向右放出1颗；带电后向右放出2颗；超带电后先向右放出2颗，再向左放出2颗
雷击	蓄完电进入超带电状态的一瞬间全身放出雷击，附带雷属性【大】
落雷	（怒状态限定）大范围内的无规律落雷攻击，附带雷属性【大】，落雷后会接雷击
背砸	（怒状态限定）跃到高空猛地用背砸向猎人，附带雷属性【大】
捕食	身体抽搐几下后，扑向猎人，扑中即进入捕食状态</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>水兽</string>
			<key>pic</key>
			<string>sd0</string>
			<key>weak</key>
			<string>1火3雷3冰</string>
			<key>atk</key>
			<string>突进	爬动向猎人突进攻击
飞扑	跃身使用飞扑攻击
前进飞扑	先不断修正方位朝猎人快速前进，到一定距离时接飞扑
高速突进	先后退一小段距离后呈游动状想猎人进行高速突进攻击
连续啃咬	向前方连续啃咬2次
下压	努力直起上身后使用下压攻击，压倒地面后还会溅起水花，使人陷入潮湿异常
横转	横着身体使用滚动攻击
水弹	吐出水弹：向前吐1颗；分别往左中右方向吐3颗。打中会陷入潮湿异常
挥爪	挥动前爪攻击
转身啃咬&amp;甩尾	转身使用啃咬的同时尾部也存在甩尾判定
连续甩尾	尾巴左右连续甩两下进行攻击
乱爬	边突进边左右依次不断吐水弹，可以连续突进3次</string>
		</dict>
		<dict>
			<key>name</key>
			<string>紫水兽</string>
			<key>pic</key>
			<string>sd1</string>
			<key>weak</key>
			<string>1火3雷3冰</string>
			<key>atk</key>
			<string>突进	爬动向猎人突进攻击
飞扑	跃身使用飞扑攻击
前进飞扑	先不断修正方位朝猎人快速前进，到一定距离时接飞扑
高速突进	先后退一小段距离后呈游动状想猎人进行高速突进攻击
连续啃咬	向前方连续啃咬2次
下压	努力直起上身后使用下压攻击，压倒地面后还会溅起毒液，使人陷入中毒异常
横转	横着身体使用滚动攻击
毒弹	吐出毒弹：向前吐1颗；分别往左中右方向吐3颗。打中会陷入中毒异常
毒爪	挥动前爪攻击，附带毒属性
转身啃咬&amp;甩尾	转身使用啃咬的同时尾部也存在甩尾判定
连续甩尾	尾巴左右连续甩两下进行攻击
乱爬	边突进边左右依次不断吐毒弹，可以连续突进3次</string>
		</dict>
		<dict>
			<key>name</key>
			<string>炎戈龙</string>
			<key>pic</key>
			<string>sd2</string>
			<key>weak</key>
			<string>1龙1水2冰2雷3火</string>
			<key>atk</key>
			<string>预测龙车	先后撤一段距离后根据猎人的行动方位进行预测型突进，小心别中它的计！
下压	直起上半身后下压身体进行攻击，胸口热化状态时还会溅出岩浆，使猎人陷入燃烧异常
4连啄	边向前移动边将嘴巴啄向地面，同时溅出岩浆，使猎人陷入燃烧异常，连续啄4次
热线	吐出热线攻击，分直线型和横扫型，同时会使猎人陷入燃烧异常
2连啃咬	向前连续啃咬2次
铁山靠	侧身后用身体猛地撞击猎人
咆哮【小】	发现猎人或进入怒状态时会使用咆哮威吓猎人，属于低吼
转身啃咬&amp;甩尾	转身使用啃咬的同时尾部也存在甩尾判定，如果在尾部热化状态被尾巴甩到的话会陷入燃烧异常
潜行	先钻入地面或天花板，然后突然冲出来攻击猎人，可以连续钻好几次，被打中时也会陷入燃烧异常</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冻戈龙</string>
			<key>pic</key>
			<string>sd3</string>
			<key>weak</key>
			<string>1龙1火2雷（破冰）3雷</string>
			<key>atk</key>
			<string>预测龙车	先后撤一段距离后根据猎人的行动方位进行预测型突进，小心别中它的计！
下压	直起上半身后下压身体进行攻击，并使猎人陷入冰冻异常
4连啄	边向前移动边将嘴巴啄向地面，并能使猎人陷入冰冻异常，连续啄4次
水射线	喷水柱攻击，分直线型和横扫型，同时会使猎人陷入潮湿异常
2连啃咬	向前连续啃咬2次
铁山靠	侧身后用身体猛地撞击猎人，连续靠2次
咆哮【小】	发现猎人或进入怒状态时会使用咆哮威吓猎人，属于低吼
转身啃咬&amp;甩尾	转身使用啃咬的同时尾部也存在甩尾判定，如果在尾部冻结状态时被尾巴甩到的话会陷入冰冻异常
潜行	先钻入地面或天花板，然后突然冲出来攻击猎人，可以连续钻好几次，被打中时也会陷入冻结异常</string>
		</dict>
		<dict>
			<key>name</key>
			<string>潜口龙</string>
			<key>pic</key>
			<string>sd4</string>
			<key>weak</key>
			<string>1冰2雷3水3龙</string>
			<key>atk</key>
			<string>突进	张开大嘴巴朝猎人进行突进攻击，可以连续3次
潜沙	先潜入沙中后，突然跃出来攻击猎人
吐沙	从嘴里吐出巨大的沙暴射线，分直线型和横扫型，被打中会陷入潮湿异常
背后喷砂	背后较大范围内喷出沙尘攻击
啃咬	用其大嘴的咬向猎人
2连啃咬	朝前方连续啃咬2次</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>土砂龙</string>
			<key>pic</key>
			<string>bd0</string>
			<key>weak</key>
			<string>1火1水(泥)2冰3龙(泥)</string>
			<key>atk</key>
			<string>龙车	向后退几步后使用突进攻击猎人
地面头槌	脑袋锤向地面来攻击，同时前方溅出泥巴，碰到会陷入带泥状态并有一定几率陷入潮湿异常
前咬	前进二三步使用啃咬攻击
甩尾	旋转身体180°使用甩尾攻击，可以甩2次
甩泥巴	晃动身体向四周甩下泥巴，被打中会陷入带泥状态并有一定几率陷入潮湿异常
滚泥	跑去泥滩打滚，使自己进入带泥状态
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冰碎龙</string>
			<key>pic</key>
			<string>bd1</string>
			<key>weak</key>
			<string>1火2火(雪)2雷(雪)3水(雪)3雷3龙(雪)</string>
			<key>atk</key>
			<string>龙车	向后退几步后使用突进攻击猎人
龙车U	沿U字形轨道进行的突进攻击
地面头槌	脑袋锤向地面来攻击，同时前方散出雪块，碰到会陷入带雪状态并有一定几率陷入冰冻异常，可以槌2次
前咬	前进二三步使用啃咬攻击
甩尾	旋转身体180°使用甩尾攻击，可以甩2次
甩泥巴	晃动身体向四周甩下雪块，被打中会陷入带雪状态并有一定几率陷入冰冻异常
滚雪	跑去雪地打滚，使自己进入带雪状态
咆哮【小】	发现猎人火怒时使用的威吓攻击，属于低吼
铁山靠	侧身使用身体撞击猎人
铲冰块	用头从雪地以左中右3方向铲出3块冰块</string>
		</dict>
		<dict>
			<key>name</key>
			<string>爆锤龙</string>
			<key>pic</key>
			<string>bd2</string>
			<key>weak</key>
			<string>1龙1冰(破)1水2冰3雷</string>
			<key>atk</key>
			<string>啃咬	对前侧方一定范围使用啃咬攻击，同时尾部也存在擦伤判定
下颚震地	仰起上半身，用下颚猛地向地面敲击一下，附带地震效果
4连锤地	用下颚左右交替连续锤地四下
我是轮胎君	卷起身体呈轮胎状进行滚动攻击，分直线式，转弯式和追踪式
铁山靠	侧身用身体撞击猎人
甩尾	旋转身体使用甩尾攻击，同时向前方甩出火药岩
炎热气体	全身释放出高温气体，范围内都会被打中并使人陷入燃烧异常
催眠气体	全身释放出催眠气体，范围内都会被打中并使人陷入睡眠异常
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼（吼完的锤地无攻击判定）</string>
		</dict>
		<dict>
			<key>name</key>
			<string>钢锤龙</string>
			<key>pic</key>
			<string>bd3</string>
			<key>weak</key>
			<string>1龙1冰(破)1水2冰3雷</string>
			<key>atk</key>
			<string>啃咬	对前侧方一定范围使用啃咬攻击，同时尾部也存在擦伤判定
下颚震地	仰起上半身，用下颚猛地向地面敲击一下，附带地震效果
4连锤地	用下颚左右交替连续锤地四下
我是轮胎君	卷起身体呈轮胎状进行滚动攻击，分直线式，转弯式和追踪式
铁山靠	侧身用身体撞击猎人
甩尾	旋转身体使用甩尾攻击，同时向前方甩出恶臭岩
恶臭气体	全身释放出恶臭气体，范围内都会被打中并使人陷入恶臭异常
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼（吼完的锤地无攻击判定）</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尾锤龙</string>
			<key>weak</key>
			<string>1火2龙2冰2雷3水</string>
			<key>pic</key>
			<string>bd4</string>
			<key>atk</key>
			<string>龙车	后退几步后突进攻击猎人，突进前蓄力短的话突进结束会接尾槌锤地，蓄力长的话结束时会接甩尾（擦伤判定）
头突	朝前侧方一定范围内使用头突攻击，同时尾部也有擦伤判定
铁山靠	侧身用身体撞击猎人
甩尾	后退几步后使用近360°的甩尾
大回转	以身体为圆心尾槌为圆边，进行多次旋转，旋转结束后会接：1.身体飞向高空用整个身体压向猎人；2.低空以尾槌朝向猎人直撞过去；3.以滑行状态甩向猎人用尾槌撞击
咆哮【大】	发现猎人或怒时使用的威吓攻击，属于高吼
扣尾	背向猎人用尾槌敲击地面攻击，附带地震效果</string>
		</dict>
		<dict>
			<key>name</key>
			<string>恐暴龙</string>
			<key>pic</key>
			<string>bd5</string>
			<key>weak</key>
			<string>1龙(怒)1雷(怒)2龙2雷2水(怒)2火(怒)3水3火3冰</string>
			<key>atk</key>
			<string>啃咬	分前咬，侧咬，转身咬（攻击力较低，它疲劳时被打中会陷入防御力DOWN异常）
大前咬	向猎人走近几步后使用前咬（攻击力比普通啃咬高，它疲劳时被打中会陷入防御力DOWN异常）
连续啃咬	大步前进并连续左右交替使用啃咬，离猎人越远啃咬次数越多
踏步	右脚猛地蹬地，右方判定范围大（并在身下及右方存在地震判定）
甩尾	旋转180°使用甩尾攻击，可以连续甩多次
大回转	向前一大步并360°旋转身体，前半身和尾巴都存在伤害判定
铁山靠	侧身用身体撞击猎人
岩块	用头从地面铲出岩块投向前方，同时前身和尾巴也存在攻击判定
捕食	使用飞扑扑向猎人（落地带地震判定），扑中即进入捕食状态
咆哮【大】	发现猎人或怒时使用的威吓攻击，属于高吼</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>雌火龙</string>
			<key>pic</key>
			<string>d0</string>
			<key>weak</key>
			<string>1龙2雷3冰3水</string>
			<key>atk</key>
			<string>龙车	朝猎人进行突进攻击，突进后接大前咬
三连龙车	连续3次突进，前两次突进后都是急刹车，然后重新锁定猎人突进，第三下最后接大前咬
啃咬	前进一小步（这个其实伤害挺高的）后使用啃咬，同时尾部也有判定
甩尾	旋转身体使用甩尾攻击，可以连续多次
火球	吐出火球攻击，分直线火球和3连火球（依次按前，右，左方向喷出），命中同时还会使猎人陷入燃烧异常
爆裂火球	向前方吐出一颗大范围爆炸的火球，命中同时还会使猎人陷入燃烧异常
毒尾	使用后空翻式的甩尾攻击，命中同时会使猎人陷入中毒异常，可以翻多次
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼
下咬	低空时朝猎人小咬一下，擦伤
捕食	低空时冲下来用抓抓取猎物，被抓到即进入捕食状态
滑翔	使用滑翔攻击冲向猎人，并附带风压【大】的效果</string>
		</dict>
		<dict>
			<key>name</key>
			<string>金火龙</string>
			<key>pic</key>
			<string>d1</string>
			<key>weak</key>
			<string>1雷2水3冰</string>
			<key>atk</key>
			<string>龙车	朝猎人进行突进攻击，突进后接大前咬
三连龙车	连续3次突进，前两次突进后都是急刹车，然后重新锁定猎人突进，第三下最后接大前咬
啃咬	前进一小步（这个其实伤害挺高的）后使用啃咬，同时尾部也有判定
甩尾	旋转身体使用甩尾攻击，可以连续多次
火球	吐出火球攻击，分直线火球和3连火球（依次按前，右，左方向喷出），命中同时还会使猎人陷入燃烧异常
爆裂火球	向前方吐出一颗大范围爆炸的火球，命中同时还会使猎人陷入燃烧异常
3连爆裂火球	依次向右中左吐出3颗爆裂火球，喷射距离依次变短
毒尾	使用后空翻式的甩尾攻击，命中同时会使猎人陷入中毒异常，可以翻多次
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼
下咬	低空时朝猎人小咬一下，擦伤
捕食	低空时冲下来用抓抓取猎物，被抓到即进入捕食状态
滑翔	使用滑翔攻击冲向猎人，并附带风压【大】的效果</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雄火龙</string>
			<key>pic</key>
			<string>d2</string>
			<key>weak</key>
			<string>1龙2雷3冰3水</string>
			<key>atk</key>
			<string>龙车	朝猎人进行突进攻击，突进后接大前咬
啃咬	前进一小步（这个其实伤害挺高的）后使用啃咬，同时尾部也有判定
甩尾	旋转身体使用甩尾攻击，可以连续多次
火球	吐出直线火球攻击，命中同时还会使猎人陷入燃烧异常
升空	原地踏两步后飞起进入中空状态
后跃火球	使用后跃同时朝地面喷一颗火球（命中同时进入会使猎人陷入燃烧异常），然后进入低空状态
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼，吼完接后跃火球
下咬	低空时朝猎人小咬一下，擦伤
捕食	低空时冲下来用抓抓取猎物，被抓到即进入捕食状态
滑翔	使用滑翔攻击冲向猎人，并附带风压【小】的效果
3连火球	中空时朝地面连续喷3可火球，命中同时进入会使猎人陷入燃烧异常
毒爪	中空时冲下来使用毒爪攻击猎人，命中同时进入会使猎人陷入中毒+气绝异常</string>
		</dict>
		<dict>
			<key>name</key>
			<string>银火龙</string>
			<key>pic</key>
			<string>d3</string>
			<key>weak</key>
			<string>1雷2水3冰</string>
			<key>atk</key>
			<string>龙车	朝猎人进行突进攻击，突进后接大前咬
啃咬	前进一小步（这个其实伤害挺高的）后使用啃咬，同时尾部也有判定
甩尾	旋转身体使用甩尾攻击，可以连续多次
火球	吐出直线火球攻击，命中同时还会使猎人陷入燃烧异常
爆裂火球	朝前方吐出一颗大范围的爆裂火球，命中同时进入会使猎人陷入燃烧异常
升空	原地踏两步后飞起进入中空状态
后跃火球	使用后跃同时朝地面喷一颗火球（命中同时进入会使猎人陷入燃烧异常），然后进入低空状态
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼，吼完接后跃火球
下咬	低空时朝猎人小咬一下，擦伤
连续捕食	低空时冲下来用抓抓取猎物，连续2次，被抓到即进入捕食状态
滑翔	使用滑翔攻击冲向猎人，并附带风压【小】的效果
爆裂火球【空】	低空时朝地面吐下一颗大范围的爆裂火球，命中同时进入会使猎人陷入燃烧异常
3连火球	中空时朝地面连续喷3可火球，命中同时进入会使猎人陷入燃烧异常
毒爪	中空时冲下来使用毒爪攻击猎人，命中同时进入会使猎人陷入中毒+气绝异常</string>
		</dict>
		<dict>
			<key>name</key>
			<string>角龙</string>
			<key>pic</key>
			<string>d4</string>
			<key>weak</key>
			<string>1冰3水3雷3龙</string>
			<key>atk</key>
			<string>龙车	使用突进攻击猎人，突进后会接角顶或向前滑行一段
连续龙车	突进完后急停，然后重新锁定猎人进行突进，最多能连续3次
啃咬	向前一小步后使用啃咬攻击
大角顶	退二三步后，向左（或先向左后向右）使用大范围角顶攻击，尾部也存在攻击判定
回旋甩尾	旋转身体使用甩尾攻击
后方甩尾	尾巴朝后方依次甩两下
潜地	潜入地面
潜行后突进急袭	潜地后猛地钻出地面攻击猎人
潜行后飞扑	潜地后先在地面冒出沙尘，然后突然飞扑出来进行攻击
咆哮【大】	仰头使用吼叫攻击，属于高吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黑角龙</string>
			<key>pic</key>
			<string>d5</string>
			<key>weak</key>
			<string>1冰3水3雷3龙</string>
			<key>atk</key>
			<string>龙车	使用突进攻击猎人，突进后会接角顶或向前滑行一段
连续龙车	突进完后急停，然后重新锁定猎人进行突进，最多能连续3次
啃咬	向前一小步后使用啃咬攻击
大角顶	退二三步后，向左（或先向左后向右）使用大范围角顶攻击，尾部也存在攻击判定
回旋甩尾	旋转身体使用甩尾攻击
后方甩尾	尾巴朝后方依次甩两下
潜地	潜入地面
潜行后突进急袭	潜地后猛地钻出地面攻击猎人
潜行后飞扑	潜地后先在地面冒出沙尘，然后突然飞扑出来进行攻击
咆哮【大】	仰头使用吼叫攻击，属于高吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>轰龙</string>
			<key>pic</key>
			<string>d6</string>
			<key>weak</key>
			<string>2雷3水3冰3龙</string>
			<key>atk</key>
			<string>龙车	使用突进攻击猎人，有时突进后会直接转身锁定猎人继续一次突进
连续龙车	怒后使用的做多连续3次的突进
啃咬	向前使用一次啃咬攻击
连续啃咬	向前连续使用两次啃咬攻击
360	原地旋转360°身体进行攻击，全身都有判定
前进360	向前踏一大步后借助惯性使用会向前移动的360攻击
推岩块	用前脚推出3块岩块攻击，同时尾巴也存在判定（砂原岩块附带水属性，冻土附带冰属性）
飞扑	使用飞扑攻击猎人，怒后能扑2次，附带风压【小】
咆哮【大】	发现猎人时使用的威吓攻击，属于高吼
咆哮【特大】	以发现猎人的状态时使用的咆哮攻击，身下一定范围存在攻击判定，攻击范围以外的一定范围内存在高吼判定</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黑轰龙</string>
			<key>pic</key>
			<string>d7</string>
			<key>weak</key>
			<string>2水3雷3冰3龙</string>
			<key>atk</key>
			<string>龙车	使用突进攻击猎人，有时突进后会直接转身锁定猎人继续一次突进
连续龙车	怒后使用的做多连续3次的突进
啃咬	向前使用一次啃咬攻击
连续啃咬	向前连续使用两次啃咬攻击
360	原地旋转360°身体进行攻击，全身都有判定
前进360	向前踏一大步后借助惯性使用会向前移动的360攻击
推岩块	用前脚推出3块岩块攻击，同时尾巴也存在判定（砂原岩块附带水属性，冻土附带冰属性）
乱爬	仰起头并晃着脖子前进的乱爬攻击，爬完后会接咆哮【特大】
飞扑	使用飞扑攻击猎人，怒后能扑2次，附带风压【小】
咆哮【大】	发现猎人时使用的威吓攻击，属于高吼
咆哮【特大】	已发现猎人的状态时使用的咆哮攻击，身下一定范围存在攻击判定，攻击判定以外的一定范围内存在高吼判定
咆哮【最大】	紧急后撤几步后大吸一口气后使用的超大咆哮攻击，威力范围都很大，攻击判定以外的一定范围内存在高吼判定</string>
		</dict>
		<dict>
			<key>name</key>
			<string>迅龙</string>
			<key>pic</key>
			<string>d8</string>
			<key>weak</key>
			<string>1雷2火3水3冰3龙</string>
			<key>atk</key>
			<string>前咬	向前使用啃咬，整个前半身都有判定，前爪部分有擦伤判定
飞扑	使用飞扑和刃翼攻击，可以连续多次
甩尾	斜一下身体后使用甩尾攻击，侧面和正面都存在攻击判定
大回旋	用力旋转身体并使用360°的大范围甩尾
尾锤	背向猎人跃起后用尾巴猛地砸向地面
前进	迅速爬向猎人，擦伤判定
侧跃	跃到侧方，可以派生其他很多招式
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>绿迅龙</string>
			<key>pic</key>
			<string>d9</string>
			<key>weak</key>
			<string>1雷2火3冰3龙</string>
			<key>atk</key>
			<string>前咬	向前使用啃咬，整个前半身都有判定，前爪部分有擦伤判定
飞扑	使用飞扑和刃翼攻击，可以连续多次
甩尾	斜一下身体后使用甩尾攻击，侧面和正面都存在攻击判定
大回旋	用力旋转身体并使用360°的大范围甩尾
尾锤	背向猎人跃起后用尾巴猛地砸向地面，能连续砸2次
前进	迅速爬向猎人，擦伤判定
侧跃	跃到侧方，能连续跃2次，并可以派生其他很多招式
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>毒怪龙</string>
			<key>pic</key>
			<string>d10</string>
			<key>weak</key>
			<string>1火2龙3水</string>
			<key>atk</key>
			<string>龙车	朝猎人进行突进攻击
2连啃咬	伸长脖子依次向右和左方向使用啃咬，第二下范围较广，尾部也能使用这种攻击
飞扑	跳起使用飞扑攻击猎人
喷毒	全身喷出剧毒气体，被打中还会陷入中毒异常
吐毒	向前吐出一堆毒液，落地后还能存留一段时间，毒异常附加
下压	直起并张开身体，然后压下地面攻击
产毒（巢）	从尾部产出一颗毒爆弹或巢：毒爆弹会定时爆炸，附带毒属性；巢会产出小毒龙攻击猎人
跳跃	分转身跳跃和后跳，落地有伤害判定并附带风压【小】
后跳吐毒	后跳同时像地面吐出毒液，能存留一段时间，毒异常附加
上墙	跳到墙或天花板上，能在那里自由爬行
飞扑（上墙）	上墙后突然扑下来攻击猎人
捕食	使用飞扑扑倒猎人，然后进入捕食状态 ，没来得及逃脱的话最后还会接毒液攻击
捕食（上墙）	用尾巴吸住天花板，倒吊这身体，然后伸长脖子回卷攻击，然后进入捕食状态 ，没来得及逃脱的话最后还会接毒液攻击
咆哮【大】	使用吼叫威吓猎人，属于高吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电怪龙</string>
			<key>pic</key>
			<string>d11</string>
			<key>weak</key>
			<string>1水2龙3火</string>
			<key>atk</key>
			<string>龙车	朝猎人进行突进攻击
2连啃咬or甩尾	伸长脖子依次左右方向使用啃咬，第二下范围较广，尾部也能使用这种攻击
飞扑	跳起使用飞扑攻击猎人
放电	全身瞬间放出电击，麻痹异常附加
雷球	向前吐出一颗雷球，落地后分成3方向3颗，麻痹异常附加
下压	直起并张开身体，然后压下地面攻击
雷爆弹	从尾部产出一颗雷爆弹，会定时爆炸，附带麻痹属性
跳跃	分转身跳跃和后跳，落地有伤害判定并附带风压【小】
后跳雷球	后跳同时像地面吐出雷球，落地后分成3方向3颗，麻痹异常附加
上墙	跳到墙或天花板上，能在那里自由爬行
飞扑（上墙）	上墙后突然扑下来攻击猎人
捕食	使用飞扑扑倒猎人，然后进入捕食状态 ，没来得及逃脱的话最后还会接麻痹攻击
捕食（上墙）	用尾巴吸住天花板，倒吊这身体，然后伸长脖子回卷攻击，然后进入捕食状态 ，没来得及逃脱的话最后还会接麻痹攻击
咆哮【大】	使用吼叫威吓猎人，属于高吼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冰牙龙</string>
			<key>pic</key>
			<string>d12</string>
			<key>weak</key>
			<string>1火2雷3水3龙</string>
			<key>atk</key>
			<string>龙车	使用突进冲向猎人
铁山靠	侧身用身体撞击
前扑	小距离的前扑攻击，比较突然
甩尾	再身体左侧或右侧进行的180°范围的甩尾攻击，附加冰异常
起飞	使自己进入低空状态
雪暴	吐出一颗雪球，落地后产生冰风暴，附加雪人异常
威吓	停在原地晃动尾巴并小吼一声，无任何判定
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼
下扑	低空状态时扑下来攻击猎人
雪暴（空）	低空状态时朝地面吐出一颗雪球，落地后产生冰风暴，附加雪人异常
急袭	低空状态时先上升一定距离，然后急速俯冲下来攻击猎人</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风牙龙</string>
			<key>pic</key>
			<string>d13</string>
			<key>weak</key>
			<string>1冰2雷2水3龙</string>
			<key>atk</key>
			<string>龙车	使用突进冲向猎人，可以接侧跃后继续突进，最多连续3次
铁山靠	侧身用身体撞击，撞玩还可能会修正站位
前扑	小距离的前扑攻击，比较突然
甩尾	再身体左侧或右侧进行的180°范围的甩尾攻击，附加冰异常
起飞	使自己进入低空状态
砂暴	吐出一颗砂球，落地后产生砂风暴，能持续较长时间
威吓	停在原地晃动尾巴并小吼一声，无任何判定
咆哮【小】	发现猎人或怒时使用的威吓攻击，属于低吼
下扑	低空状态时扑下来攻击猎人
砂暴（空）	低空状态时朝地面吐出一颗雪球，落地后产生砂风暴，能持续较长时间
急袭	低空状态时先上升一定距离，然后急速俯冲下来攻击猎人
回旋升空&amp;急袭	砂风暴存在时移动向风暴，借助气流回旋上升后急速俯冲下来猛地攻击猎人</string>
		</dict>
		<dict>
			<key>name</key>
			<string>霸龙</string>
			<key>pic</key>
			<string>d14</string>
			<key>weak</key>
			<string>1龙2雷2水(破)3水3冰(破)</string>
			<key>atk</key>
			<string>突进	爬动其巨大的身体冲向猎人，追尾性很强
前咬	前咬攻击，怒后附带防御DOWN异常
转身咬	转过身猛地咬后方我猎人，尾部也存在攻击判定，怒后附带防御DOWN异常
甩尾	从左或右侧180°范围使用甩尾攻击
下压	直起上半身后压向地面，附带地震效果
黑风暴	朝前方喷出直线状龙卷风，也能进行横扫攻击
潜地	潜入地下，头和前脚存在攻击判定，燃烧异常附加
喷熔岩	潜入地下后朝地面大范围内无规则喷出熔岩
出地	潜地时爬出地面
捕食	使用齿突攻击，击中即进入捕食状态
咆哮【特大】	咆哮攻击，身体一定范围内存在伤害判定，伤害范围外还存在高吼判定，四周还会喷出岩浆</string>
		</dict>
		<dict>
			<key>name</key>
			<string>崩龙</string>
			<key>pic</key>
			<string>d15</string>
			<key>weak</key>
			<string>1火1雷2龙3水</string>
			<key>atk</key>
			<string>龙车	爬动其巨大的身体冲向猎人，追尾性很强
前咬	前咬攻击
铲雪	从地面铲起多个雪球砸向地面，雪人异常附加
转身铲雪	转过身猛地铲后方我猎人，同时铲出3块冰块（雪人异常附加），尾部也存在攻击判定
甩尾	从左或右侧180°范围使用甩尾攻击（雪人异常附加）
下压	直起上半身后压向地面，附带地震效果
水枪	朝前方喷出水枪（冻结异常附加），四周还会溅出冰块（雪人异常附加）
水枪扫射	直起身子使用水枪扫射（冻结异常附加），四周还会溅出冰块（雪人异常附加）
潜地	潜入地下，头和前脚存在攻击判定，燃烧异常附加
地下龙车	潜入地下后在地面露出背鳍，然后破冰前进冲向猎人，追尾性很强，冰冻异常附加
出地	潜地时爬出地面
咆哮【特大】	咆哮攻击，身体一定范围内存在伤害判定，伤害范围外还存在高吼判定，四周还会落下冰块（雪人异常附加）</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>峯山龙</string>
			<key>pic</key>
			<string>ad0</string>
			<key>weak</key>
			<string>1冰2龙2雷2水</string>
			<key>atk</key>
			<string>身体撞击	侧身撞击船体，在船头以及船尾边缘不会撞到
龙牙冲撞	峯山龙正面全局判定，贯穿全船，可在正面以外区域或飞扑闪避
投岩	4~5块岩石，落点以猎人位置未定，翻滚闪躲
咆哮【大】	范围超大，可防御，不可翻滚闪避，属于高吼
龙牙横扫	范围判定峯山龙头部为圆心270°，后脚贴近峯山龙不会被攻击到，可用飞扑躲避
飞跃	从船体的一侧跃到另一侧
挣扎	挣扎身体，将猎人从身体上晃下去，有攻击判定</string>
		</dict>
		<dict>
			<key>name</key>
			<string>煌黑龙</string>
			<key>pic</key>
			<string>ad1</string>
			<key>weak</key>
			<string>1龙(白)2冰(黑)2火(白)3水3雷(黑)3龙(黑)</string>
			<key>atk</key>
			<string>大回转	旋转全身攻击后升到空中，进入低空状态
雷爪	低空状态时朝地面使用雷爪攻击，可以连续3次，感电异常附加
超滑翔	全身带电，以极快的速度使用滑翔攻击，附带龙风压，感电异常附加
落雷（空）	低空状态时，朝猎人所在处依次落下三道雷光
冰柱	低空状态时，朝地面同时喷出几块冰柱攻击，冻结异常附加，并能作为障碍物存在于地面一段时间
雪柱横扫	低空状态时，一边前进一边左右横扫喷射雪柱，冻结&amp;雪人异常附加
回转甩尾（空）	低空状态时回转身体用尾巴攻击猎人
落雷（地）	再地面时使用落雷攻击，分前方落雷和大范围内落雷
龙车	注意有时会预测猎人方向进行突进
龙爪	朝猎人挥出龙爪攻击，尾部存在擦伤判定
后跃急袭	后跃到空中后飞扑下来攻击猎人
2连角顶	左右依次用角顶两次
头叩	稍支起身体后压下来的同时用头叩击
连续甩尾	身后左右连续甩2次尾</string>
		</dict>
		<dict>
			<key>name</key>
			<string>岚龙</string>
			<key>pic</key>
			<string>ad2</string>
			<key>weak</key>
			<string>1龙2火3冰3雷</string>
			<key>atk</key>
			<string>咆哮【小】	发怒或中闪光弹状态恢复时使用的吼叫威吓，属于低吼
突进（小）	使用突进攻击冲向猎人
突进（大）	回旋身体的突进攻击，
甩尾	将尾巴从下方往前方甩击
挥爪	挥动前爪攻击
大回旋	旋转整个身体攻击
龙卷（弱）	使用大回旋的同时产生3个龙卷，龙卷能在场地上移动
龙卷（强）	直起身体，一自己为中心产出龙卷，具有很强的吸引效果，结束时会回旋升空并造出强龙卷，伤害非常巨大
水弹	吐出一颗水弹攻击，潮湿异常附加
2连水柱	依次连续喷出2发水柱，潮湿异常附加
高空水柱	飞到高空，依次向地面以横&apos;竖&apos;横形式喷出3发水柱，水柱经过的地方还会飞溅出大量水沫攻击，潮湿异常附加</string>
		</dict>
	</array>
</array>
</plist>
