<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>pic</key>
			<string>v1_1</string>
			<key>brief</key>
			<string>特产蘑菇的采集点共有以上4个，采够数量交到营地红箱子即可过关。</string>
			<key>key</key>
			<false/>
			<key>name</key>
			<string>采集特产蘑菇</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>v1_2</string>
			<key>brief</key>
			<string>一出门即可遇到灵鹿，击杀后有几率剥取到灵鹿角。一般把以上三个区的灵鹿扫荡干净就足够交任务了。</string>
			<key>key</key>
			<false/>
			<key>name</key>
			<string>收集灵鹿角</string>
		</dict>
		<dict>
			<key>pic</key>
			<string>v1_3</string>
			<key>brief</key>
			<string>目标怪是5只小狗龙，瘦瘦的那种哦，出没情况如上图所示，以9区的数量最多。</string>
			<key>key</key>
			<true/>
			<key>name</key>
			<string>讨伐小狗龙</string>
		</dict>
		<dict>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>目标怪是3只野猪，分别出现在3个区里，建议讨伐顺序：②⑤⑨</string>
			<key>name</key>
			<string>讨伐野猪</string>
			<key>pic</key>
			<string>v1_4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>恐怖的预兆</string>
			<key>pic</key>
			<string>v1_5</string>
			<key>brief</key>
			<string>任务目标看起来很简单，不就是采蜂蜜嘛~不过当我们采完9区的蜂蜜奔赴5区时，青熊兽不应景的出现，还一屁股坐在蜂巢底下不走了……于是高手请暴揍之，新手请在猫猫的掩护下采集蜂蜜回营地交差。（再次进行该任务时青熊兽不会强制出现在5区蜂巢处）</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>讨伐青熊兽</string>
			<key>key</key>
			<true/>
			<key>brief</key>
			<string>此战需要收拾上一关和猎人们抢蜂蜜的青熊兽，在6区附近可以遇到它。它的主要攻击为前扑和连续挥爪，利用翻滚保持在侧后方进行打击即可。距离拉远时它比较喜欢使出冲撞，不过基本没有威胁。（此紧急任务完成后变为村★★第4个任务）</string>
			<key>pic</key>
			<string>v1_6</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>溪流采集任务</string>
			<key>pic</key>
			<string>v2_1</string>
			<key>brief</key>
			<string>自由采集任务，打算回去的时候把蓝箱子中的猫票交到红箱子里即可完成任务回村。想要有一番收获的话请点击上面的链接。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>沙原采集任务</string>
			<key>pic</key>
			<string>v2_2</string>
			<key>brief</key>
			<string>自由采集任务，打算回去的时候把蓝箱子中的猫票交到红箱子里即可完成任务回村。想要有一番收获的话请点击上面的链接。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>水没林采集任务</string>
			<key>pic</key>
			<string>v2_3</string>
			<key>brief</key>
			<string>自由采集任务，打算回去的时候把蓝箱子中的猫票交到红箱子里即可完成任务回村。想要有一番收获的话请点击上面的链接。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎青熊兽</string>
			<key>pic</key>
			<string>v2_4</string>
			<key>brief</key>
			<string>同之前的村★紧急任务。讨伐青熊兽，在6区附近可以遇到它。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎野猪王</string>
			<key>pic</key>
			<string>v2_5</string>
			<key>brief</key>
			<string>在7区触发野猪王出现的特写动画，先收拾掉周围的野猪再收拾它。打败野猪王之后并未完事，反而感到了一股更加强大的气势。来到5区时发现竟然有雷狼龙乱入！（它不会是想吃猪肉了吧）这基本是打不过的，按照提示按START键翻到第二页选择最下面的回村选项，任务完成。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎狗龙王</string>
			<key>pic</key>
			<string>v2_6</string>
			<key>brief</key>
			<string>本任务为隐藏任务，位列6/17，完成之后便会一直出现在任务列表中，可随时挑战。狗龙王初始在7区，随后往各区游荡。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>讨伐雌狗龙</string>
			<key>pic</key>
			<string>v2_7</string>
			<key>brief</key>
			<string>这回的目标是肥肥的那种雌狗龙。推荐行进顺序：②⑥⑨。注意有一只大号的狗龙王在到处游荡。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>收集丸鸟蛋</string>
			<key>pic</key>
			<string>v2_8</string>
			<key>brief</key>
			<string>此任务切勿杀鸡取卵。获得丸鸟蛋的方法是趁丸鸟没发现自己时出其不意的狠揍它一下，然后它就会掉下一个蛋（喂喂那边那个蓄龙击炮的家伙别瞄了，把它秒掉是不掉蛋的）……从1区搬回一个蛋后丸鸟不再出现，只能去其他区搜罗。2区距离最近，不过有若干黑猫看守，并且只能搬回一个蛋。剩下的5区和7区比较远，搬蛋路上会有4区的野猪骚扰。区域中还有一只野猪王游荡。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>收集成熟蘑菇</string>
			<key>pic</key>
			<string>v2_9</string>
			<key>brief</key>
			<string>虽说任务目标是蘑菇，不过并不能通过采集直接获得。在有蘑菇采集点的区域会有一种甲虫，它们会到处觅食，当它们吃到蘑菇后尾部会变大变蓝。此时杀掉尾部变大的甲虫，捡取它们掉落的物品就能获得成熟蘑菇了。（蘑菇就是这样成熟的……）如果带了战斗猫，在虫子吃饱之前保持蹲下的姿势基本就不会发生误杀事件了。如果上图的甲虫杀光了还没采够任务品，9区还有一批甲虫与蘑菇。区域中有一只青熊兽游荡。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎狗龙王</string>
			<key>pic</key>
			<string>v2_10</string>
			<key>brief</key>
			<string>目标狗龙王出现在5区，主要攻击方式为扭扭功，站在它的右后侧攻击比较安全。（狗龙王您的回眸一笑还蛮帅的么~）</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>讨伐小狗龙</string>
			<key>pic</key>
			<string>v2_11</string>
			<key>brief</key>
			<string>继溪流地区之后，砂原的小狗龙们也遭了秧……</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>采集龙骨结晶</string>
			<key>pic</key>
			<string>v2_12</string>
			<key>brief</key>
			<string>龙骨结晶为挖矿获得，补给箱有2组铁镐提供，基本上用不着自己带铁镐。龙骨结晶最多能拿10个，挖完4区和6区一般就挖满了。区域有狗龙王游荡。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎野猪王</string>
			<key>pic</key>
			<string>v2_13</string>
			<key>brief</key>
			<string>野猪们从溪流迁移到了水没林，不过这阻碍不了猎人们对猪肉的追求（误）。野猪王初始在6区，随后很快向临近区域转移，初期常见转移趋势为⑥⑧③和⑥⑤。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>牙兽的行水</string>
			<key>pic</key>
			<string>v2_14</string>
			<key>brief</key>
			<string>和上一个任务很像，同为来自溪流的移民，青熊兽也是从6区出发，常见的转移趋势为⑥⑧③。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>水生兽讨伐任务</string>
			<key>pic</key>
			<string>v2_15</string>
			<key>brief</key>
			<string>长得像黄色蜥蜴的那种就是水生兽了，很多区都有。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>讨伐毒狗龙</string>
			<key>pic</key>
			<string>v2_16</string>
			<key>brief</key>
			<string>毒狗龙作为狗龙的加强版主要是多了一招喷毒，贴心的补给箱特别提供了解毒药以供不时之需。比较讨厌的是毒狗龙不仅分布分散，而且需要打完前5只才刷新后5只(图中以“先后”表示)，推荐扫荡顺序为：①④⑤⑦③。区域中还有一只青熊怪游荡。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>收集垂皮油</string>
			<key>pic</key>
			<string>v2_17</string>
			<key>brief</key>
			<string>垂皮油是剥取垂皮龙获得，每只垂皮龙可以剥取2次。很多地图都有垂皮龙，而且有的地图杀光再换区回来又会刷新，尽量挖满10个吧。另有野猪王出没注意。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎彩鸟</string>
			<key>pic</key>
			<string>v2_18</string>
			<key>brief</key>
			<string>9区触发动画：狗龙欢聚一堂，彩鸟一鸣飞天。于是整个区域中不仅有新怪彩鸟，还有一只狗龙王。彩鸟在动画中飞走后一般会选择在7区降落，先给它扔个染色球，就不怕不知道它下次在哪落脚了。过关之后此任务列为村★★★的第3个任务。

新手注意事项：出发前请带足回复药、预备几瓶解毒药。彩鸟最有威胁的攻击带有燃烧效果，累计伤害不小，如不慎被烧可多多打滚以利于灭火（在水中打滚更佳）。武器尽量选择趁手的或是轻便的，比如片手剑。被两个大怪夹击时可以扔臭玉逼走一个。当彩鸟大声鸣叫求援时可以扔音爆弹打断。战斗中盯着彩鸟攻击即可，无需击杀彩鸟召来的大怪。 
注：彩鸟召唤援军分为两种。直接朝天上鸣叫是召小怪，向前方探出并平移脖子鸣叫是召大怪。只要不杀它召出的大怪就不会再出其它大怪了。</string>
			<key>key</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>孤岛采集任务</string>
			<key>pic</key>
			<string>v3_1</string>
			<key>brief</key>
			<string>自由采集任务，打算回去的时候把蓝箱子中的猫票交到红箱子里即可完成任务回村。想要有一番收获的话请点击上面的链接。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土采集任务</string>
			<key>pic</key>
			<string>v3_2</string>
			<key>brief</key>
			<string>自由采集任务，打算回去的时候把蓝箱子中的猫票交到红箱子里即可完成任务回村。想要有一番收获的话请点击上面的链接。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎彩鸟</string>
			<key>pic</key>
			<string>v3_3</string>
			<key>brief</key>
			<string>由村★★的紧急任务演变而来，这回彩鸟的初始地区为6区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>讨伐野猪</string>
			<key>pic</key>
			<string>v3_4</string>
			<key>key</key>
			<false/>
			<key>brief</key>
			<string>4区的野猪很多很多，杀光再换一下区就刷新了，无需再去其他区找怪。注意有野猪王的骚扰。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎土砂龙</string>
			<key>pic</key>
			<string>v3_5</string>
			<key>brief</key>
			<string>3区触发动画，土砂龙出现。在它的左后方进行打击比较安全，如果不慎被土裹住可以吃消散剂恢复，战斗猫有时也会帮主人解困。打到一定程度它会逃往4区和8区吃东西，濒死时返回3区睡觉。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>沙原狩猎彩鸟</string>
			<key>pic</key>
			<string>v3_6</string>
			<key>brief</key>
			<string>砂原中的彩鸟初始在8区，常逃往4区和7区（睡觉）。彩鸟本身没什么，主要是它在8区能招出土砂龙作为援军，请善用臭玉熏退其一。（我开始讨厌这种崇尚怪多力量大的鸟类了……）</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>讨伐食草龙</string>
			<key>pic</key>
			<string>v3_7</string>
			<key>brief</key>
			<string>直奔8区即可，杀完换区回来就会刷新，每次3只。另有狗龙王出没注意。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>收集怪物的肝</string>
			<key>pic</key>
			<string>v3_8</string>
			<key>brief</key>
			<string>怪物的肝可以从砂鱼身上挖到，建议新手们出发前自带若干音爆弹，以免补给品音爆弹用光后留下某些痛苦的回忆。砂鱼大量出没在9区和10区，间歇性上跳。利用音爆弹或是其他爆炸物可以把它们炸上来慢慢砍，也可以趁它们例常跳起时进行攻击吸引其注意力。任务物品出的几率比较小，需要耐心多砍几只。
音爆弹合成公式：音爆弹=鳴き袋+爆薬</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎毒狗龙</string>
			<key>pic</key>
			<string>v3_9</string>
			<key>brief</key>
			<string>新怪毒狗龙在10区闪亮登场，注意它的扭扭甩尾经常是甩两次。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎水兽</string>
			<key>pic</key>
			<string>v3_10</string>
			<key>brief</key>
			<string>本任务为隐藏任务，位列10/19。水兽初始出现在4区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>美味的遭遇</string>
			<key>pic</key>
			<string>v3_11</string>
			<key>brief</key>
			<string>清理20只飞甲虫是件很讨厌的差事，有兴趣的话可以玩些辅助道具，比如毒雾玉之类的。飞甲虫出没于3个区，分两批刷新。首先清完2区，再清9区10区，当提示还剩10只时后批飞甲虫将可刷新。建议路线：②⑨10⑨10</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>长牙族群的长老狩猎</string>
			<key>pic</key>
			<string>3_12</string>
			<key>brief</key>
			<string>自溪流、砂原之后，狗龙王又流窜到了孤岛。它初始出现在6区，随后倾向于向7区转移。它从7区逃跑的话有时会钻狗洞回6区吃饭睡觉。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>强袭孤岛的水流</string>
			<key>pic</key>
			<string>v3_13</string>
			<key>brief</key>
			<string>水兽在10区登场，主要攻击方式为各种滚滚功和吐水球，血少时会逃往2区喝水。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>孤岛的海贼团</string>
			<key>pic</key>
			<string>v3_14</string>
			<key>brief</key>
			<string>水生兽出没地点集中，在⑤⑨10区来回刷刷就OK。青熊兽出没注意。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>特产蘑菇才是未来</string>
			<key>pic</key>
			<string>v3_15</string>
			<key>brief</key>
			<string>按照以上图示进行采集即可。狗龙王出没注意。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>大猪的猛攻</string>
			<key>pic</key>
			<string>v3_16</string>
			<key>brief</key>
			<string>两头野猪王分别初始在3区和7区，有在5区汇合的趋势。每只猪的血量都很少，这任务用来赚钱还不错的样子。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>雪中的白兔兽</string>
			<key>pic</key>
			<string>v3_17</string>
			<key>brief</key>
			<string>在2区欣赏白兔兽的溜冰动画（为啥看起来更像灰兔）。白兔兽的攻击方式有较强的往复性，最好调整视角看看它又想耍什么花招。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>引诱入眠的集团</string>
			<key>pic</key>
			<string>v3_18</string>
			<key>brief</key>
			<string>小眠狗龙分布很广，一路砍过去即可。野猪王出没注意。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>切下雪鹿角</string>
			<key>pic</key>
			<string>v3_19</string>
			<key>brief</key>
			<string>雪山鹿的数量很多，在3区可以反复换区刷鹿角。白兔兽出没注意。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>女王！在溪流起舞</string>
			<key>pic</key>
			<string>v3_20</string>
			<key>brief</key>
			<string>8区触发雌火龙动画。这家伙在2G时期被众猎人刷了无数次，于是奋发图强……如果被它按倒在地上啃来啃去，快速按键和转动摇杆把下面那个红条消耗掉即可摆脱，不然会被它使出终结技（据说丢臭玉也可以摆脱啃咬，请试过的猎人回复下效果哦）。它发怒后的攻击力是很可怕的，尽量保持满血状态，慎防倒钩和火球。攻击它的头部最为有效。</string>
			<key>key</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>火山采集任务</string>
			<key>pic</key>
			<string>v4_1</string>
			<key>brief</key>
			<string>自由采集任务，打算回去的时候把蓝箱子中的猫票交到红箱子里即可完成任务回村。想要有一番收获的话请点击上面的链接。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>女王在溪流起舞</string>
			<key>pic</key>
			<string>v4_2</string>
			<key>brief</key>
			<string>同村3星的紧急任务，雌火龙的初始地区也是8区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>注意落石</string>
			<key>pic</key>
			<string>v4_3</string>
			<key>brief</key>
			<string>本任务为隐藏任务，位列3/17。需要收拾的赤甲兽初始在8区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>沙漠的用餐礼仪</string>
			<key>pic</key>
			<string>v4_4</string>
			<key>brief</key>
			<string>潜口龙出现在10区，其他出没区域还包括9区和8区。潜口龙换区后经常伪装成小沙丘，不过它是需要呼吸的活物，所以潜口龙牌沙丘会间歇性冒气。

潜口龙主要攻击方式为钻地攻击、半地面抖沙吐沙、地面突进。它的耳朵是弱点，保持在侧面砍身体和耳朵比较安全，冰属性攻击有最好的收效。当它完全潜入地下时扔音爆或其他爆炸物能够把它炸上来，而大炸弹桶用于提前放置在它地面突进的路径上吸引它吞掉，被炸药桶炸伤肠胃的潜口龙会任人宰割一段时间。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>女王的挑战</string>
			<key>pic</key>
			<string>v4_5</string>
			<key>brief</key>
			<string>雌火龙移居到了砂原而已，初始出现在4区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎彩鸟</string>
			<key>pic</key>
			<string>v4_6</string>
			<key>brief</key>
			<string>彩鸟初始在5区，有飞到9区以及10区的趋势。它在这里可能招出包括水兽、青熊兽、雌火龙等一系列援军……请集火罪魁祸首彩鸟。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>孤岛的相扑大会</string>
			<key>pic</key>
			<string>v4_8</string>
			<key>brief</key>
			<string>两只青熊兽集中初始在5区，稍后会向周边区域转移，待它们分开再逐个击破。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>引诱入眠的苍白</string>
			<key>pic</key>
			<string>v4_9</string>
			<key>brief</key>
			<string>3区触发眠狗龙动画，其实这个蓝家伙除了会吐催眠口水外也没什么特点了。被催眠时可以喝元气药恢复或是期待猫猫来解困。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>黑暗中蠕动的猛毒</string>
			<key>pic</key>
			<string>v4_10</string>
			<key>brief</key>
			<string>建议出发前自带解毒药若干。4区触发毒怪龙动画……哇咧这只电龙+壁虎的东西也太恶心了吧？还会下蛋孵小虫子囧……战斗中它会下两种蛋，白蛋是虫卵需要打掉，紫蛋是毒卵将形成毒气爆炸不要靠近。在它的侧后方攻击相对安全，怒前注意它的原地跳毒，怒后当心扫脖子攻击，倒挂+压杀也具有较大的距离和追踪性。火属性武器对它很有效。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>月光下的白兔兽</string>
			<key>pic</key>
			<string>v4_11</string>
			<key>brief</key>
			<string>两只白兔兽分别初始在3区和2区，钻地转移的趋势很广泛，建议用染色球定位一只集中处理。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土调查队前进</string>
			<key>pic</key>
			<string>v4_12</string>
			<key>brief</key>
			<string>除了5区之外到处都有小眠狗龙的身影，其中7区可以通过换区无限刷新。另有眠狗龙出没。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>极寒之地的采掘委托</string>
			<key>pic</key>
			<string>v4_13</string>
			<key>brief</key>
			<string>蓝箱子中有3个劣质铁镐提供，如果不放心可以自带一些普通铁镐。挖掘点有很多，不过基本只去一趟5区即可满载而归。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>赤甲兽出现</string>
			<key>pic</key>
			<string>v4_14</string>
			<key>brief</key>
			<string>在5区出现赤甲兽（红色穿山甲？）。它的攻击方式主要有牙兽通用型挥爪和各种变球滚，其中“大球压顶”那招伤害不小，看球上天就跑吧。它偶尔会在身旁喷出臭气或是正面吐麻痹球，其中烦人的臭气状态可以用消臭玉清除。对了，它最怕水属性。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>毒毒博士的研究</string>
			<key>pic</key>
			<string>v4_15</string>
			<key>brief</key>
			<string>两只毒狗龙分别初始在4区和5区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>熔岩兽的讨伐</string>
			<key>pic</key>
			<string>v4_16</string>
			<key>brief</key>
			<string>由于熔岩兽可以在离营地最近的7区无限换区刷新，所以也不用去其他地方了。其他出没地带包括6区和5区。另有赤甲兽出没。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>天降毒雨</string>
			<key>pic</key>
			<string>v4_17</string>
			<key>brief</key>
			<string>小毒狗龙分布非常广泛，在1~7区全都有它们的踪迹，顺路扫荡一番即可。注意有毒狗龙在这些地区出没。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>采集燃石炭</string>
			<key>pic</key>
			<string>v4_18</string>
			<key>brief</key>
			<string>本任务为采矿任务，蓝箱子里有3个劣质铁镐提供，建议再自带铁镐若干。另有赤甲兽一只。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>月下雷鸣</string>
			<key>pic</key>
			<string>v4_19</string>
			<key>brief</key>
			<string>上次与雷狼龙的偶遇给猎人们留下了其帅气又强力的深刻印象，如今赴7区重睹芳容，拿起手中的武器向它发起挑战吧。</string>
			<key>key</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>月下雷鸣</string>
			<key>pic</key>
			<string>v5_1</string>
			<key>brief</key>
			<string>同村4★的紧急任务，不过雷狼龙的初始区域换成了5区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>红煌流星</string>
			<key>pic</key>
			<string>v5_2</string>
			<key>brief</key>
			<string>此任务为隐藏任务，打完漆黑之影任务出现。迅龙初始在6区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>漆黑之影</string>
			<key>pic</key>
			<string>v5_3</string>
			<key>brief</key>
			<string>怪物猎人系列怀旧任务拉开帷幕，首先登场的是2G招牌BOSS迅龙。迅龙弱雷，其次弱火，头部是其弱点。它的攻击方式与前作相似，新增了一种甩尾招，总体伤害似乎变低了些，在它左侧砍爪子比较舒服。由于它的招式判定非常迅速，所以如果穿着附带“回避性能”的装备会较容易通过翻滚安全避开。当迅龙摆pose蓄力时扔音爆可将其震倒，但它会因此发怒。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>水兽间的争夺</string>
			<key>pic</key>
			<string>v5_4</string>
			<key>brief</key>
			<string>无非是俗称“香蕉”的水兽多了一只。一只初始在4区、另一只初始在6区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>狩猎空中王者</string>
			<key>pic</key>
			<string>v5_5</string>
			<key>brief</key>
			<string>此任务为隐藏任务。雄火龙初始在8区，倾向于朝5区飞去。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>不可踏入的领地</string>
			<key>pic</key>
			<string>v5_6</string>
			<key>brief</key>
			<string>雷狼龙初始在5区，而后倾向于往6区转移。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>冰牙龙狩猎</string>
			<key>pic</key>
			<string>v5_7</string>
			<key>brief</key>
			<string>2区触发冰牙龙动画。其实它是一条拜师风翔龙门下的迅龙，攻击动作类似迅龙，又会大面积吹雪，还多了一招恶心的铁山靠。对于新手来说，它比雷狼龙更容易造成猫车事件，局面不利时尽量逃往临近地区修整。冰牙龙弱火，其次弱雷，虽然头部是它的弱点，但还是保持在它右前方砍爪子比较安全。尽量穿带有“回避性能”的装备，用来躲扫尾之类的攻击很有效果。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>抵抗睡魔的战斗</string>
			<key>pic</key>
			<string>v5_8</string>
			<key>brief</key>
			<string>此任务纯属调剂生活+送生活费。自从打完雷狼龙和冰牙龙，再见到眠狗龙的感觉和看见野猪差不多：怎么看都是块肉。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>威胁！火山的铁锤</string>
			<key>pic</key>
			<string>v5_9</string>
			<key>brief</key>
			<string>6区触发爆锤龙动画，原来这家伙长得比赤甲兽更像轮胎……爆锤龙弱水，其次弱冰和龙，尾巴根部下方是弱点，头和尾均可破坏，尾巴破坏后还可被斩断。当心它的头可是超硬的，被弹刀的话容易被头槌打个正着。甩尾准备时间很长，但范围也很大，并甩出一个火药岩，尽量引它把甩出来的火药岩再打掉，不然蓄力头锤将引爆全场。近战的话还是主要砍它的腿和肚子，同时提防火气和催眠气体。它的普通车轮攻击并不厉害，并且有时会自己转晕倒下，这时可以带着铁镐去尾巴根部挖材料。钻地后将发动强力车轮攻击，极难判断其路径，建议换区避难。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>空中王者的挑战</string>
			<key>pic</key>
			<string>v5_10</string>
			<key>brief</key>
			<string>8区触发雄火龙动画。雄火龙有着空中王子的美誉，看它上天先站在它阴影的后方，可以躲过飞扑，如果是吐火球可以向火球方向扔闪光弹把它闪下来。甩尾范围很大很讨厌，先行将其断尾可减小甩尾的威胁。雄火龙弱龙，其次弱雷，头部是弱点。有条件的话穿出&quot;耳栓&quot;效果可有效防止发怒时被它的吼声震住遭袭。染色球效果务必保持好，它换区时经常进行远距离飞行……</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>火山的变化魔球</string>
			<key>pic</key>
			<string>v5_11</string>
			<key>brief</key>
			<string>赤甲兽分别初始在5区和8区，照常打就是。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>注意脚下</string>
			<key>pic</key>
			<string>v5_12</string>
			<key>brief</key>
			<string>目标是熔岩兽，当心还有只爆锤龙在这附近游荡，不想惹上麻烦就躲着走吧。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>女王狂乱</string>
			<key>pic</key>
			<string>v5_13</string>
			<key>brief</key>
			<string>连续狩猎是指任务BOSS单独出现，杀掉一个再出下一个，直至全数击杀。BOSS数量的增加意味着每只相对少的血量。蓝箱子中的补给品数量并未增加，战前最好自己准备充足的烤肉，对付不同种类任务怪时还要兼顾武器种类与属性的选择。每只怪倒下后大约有一分钟的时间可供剥取以及预先跑位，一分钟后尸体消失，下一只怪刷新。

由于是与强敌雌火龙的3连战，出发前务必带足各种恢复药品。第一条雌火龙在8区初始，随后不久便飞往5区。之后两只雌火龙的刷新区域与动向相同，不过杀掉第一只后有预先跑去8区守候的时间。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>拥抱白银</string>
			<key>pic</key>
			<string>v5_14</string>
			<key>brief</key>
			<string>本次狩猎的目标是冻土3大肉（无误）。首先登场的野猪王初始7区，有向5区转移的趋势。其次出现的是7区的眠狗龙。最后是3区的白兔兽。火属性能把它们克得死死的。这种大型连续狩猎过关都会获得勇气之证。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>赤甲激震潜口猛进</string>
			<key>pic</key>
			<string>v5_15</string>
			<key>brief</key>
			<string>赤甲兽在8区初始，之后好久不见的潜口龙在9区低调的伪装成了小沙丘。这关冰属性武器是不错的选择。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>仁义抗争</string>
			<key>pic</key>
			<string>v5_16</string>
			<key>brief</key>
			<string>水没林两连肉，毫无难度。毒狗龙在7区初始，如果没及时拦住它，会以较快速度到处转移。水兽则从3区出发。冰属性可以两者兼顾。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>孤岛的来访者</string>
			<key>pic</key>
			<string>v5_17</string>
			<key>brief</key>
			<string>青熊兽在5区初始。雌火龙在8区初始，稍后飞往5区。龙或雷属性可以两者兼顾。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>移动的山脉</string>
			<key>pic</key>
			<string>v5_18</string>
			<key>brief</key>
			<string>在5区触发尾槌龙动画。它虽然长有点像爆锤龙的兄弟，不过攻击方式差别很大（至少它很弱）。首先那个尾槌转转功简直太搞笑了……开始转之前经常后撤好远让猎人有足够的时间跑出去，最后的尾槌下压距离即不远又会晕半天。保持在它肚子下面可以砍得很欢乐，甚至它使用尾槌转转功时也可以留下肚子下面砍。火属性对浑身长青苔的尾槌龙最有效。破尾后可以在尾巴处挖掘素材。</string>
			<key>key</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>讨伐尾锤龙</string>
			<key>pic</key>
			<string>v6_1</string>
			<key>brief</key>
			<string>在5区触发尾槌龙动画。它虽然长有点像爆锤龙的兄弟，不过攻击方式差别很大（至少它很弱）。首先那个尾槌转转功简直太搞笑了……开始转之前经常后撤好远让猎人有足够的时间跑出去，最后的尾槌下压距离即不远又会晕半天。保持在它肚子下面可以砍得很欢乐，甚至它使用尾槌转转功时也可以留下肚子下面砍。火属性对浑身长青苔的尾槌龙最有效。破尾后可以在尾巴处挖掘素材。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>沙原角龙狩猎</string>
			<key>pic</key>
			<string>v6_2</string>
			<key>brief</key>
			<string>怪物猎人系列怀旧战之一。在9区触发角龙动画。它的攻击方式和前作的角龙差不多，近战打法主要是使劲砍肉质较软的腿，砍倒后再砍尾巴或头。当它完全钻入地下时扔音爆弹可以把它炸得任人宰割一段时间(怒时无效)。9区有个大柱子可以引它去撞，它的角会撞进柱子里短时间内拔不出来(若双角被破则不再卡角)，8区有个可以爬上去的小台子也具有同样的卡角效果(不过小台子容易被怪打坏)。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>轰龙迎击战</string>
			<key>pic</key>
			<string>v6_3</string>
			<key>brief</key>
			<string>怪物猎人系列怀旧战之一。在4区触发轰龙动画。轰龙的攻击方式基本还是沿袭前作，在它的左侧进行攻击比较安全。轰龙的吼叫比较特殊，如果离它比较近会被震飞+伤血。此战带有回避性能的装备再次大放光彩，连吼叫也能避过。当轰龙发怒时可以扔闪光弹进行牵制。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>尾锤龙流域</string>
			<key>pic</key>
			<string>v6_4</string>
			<key>brief</key>
			<string>嗯嗯，这关又是搞笑型尾槌龙。它出现在4区，有向2区转移的趋势。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>山之岚，川之泛滥</string>
			<key>pic</key>
			<string>v6_5</string>
			<key>brief</key>
			<string>水没林两大肉的见面会~建议先击杀初始于6区的水兽，再去收拾尾槌龙。火属性武器很好很通吃。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土的轰龙咆哮</string>
			<key>pic</key>
			<string>v6_6</string>
			<key>brief</key>
			<string>轰龙初始在2区。和砂原不同，冻土的轰龙用爪子推出的不是土球而是冰球。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土起舞的白风</string>
			<key>pic</key>
			<string>v6_7</string>
			<key>brief</key>
			<string>两只冰牙龙均初始在6区，稍等一会即会分开。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>冻土大会战</string>
			<key>pic</key>
			<string>v6_8</string>
			<key>brief</key>
			<string>轰龙初始在2区而毒怪龙初始在5区。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>栖息在火海的龙</string>
			<key>pic</key>
			<string>v6_9</string>
			<key>brief</key>
			<string>建议自带若干解除燃烧状态的药品。新怪炎戈龙亮相于7区。炎戈龙分为黄色的岩浆状态和暗红色的冷却状态，其中黄色时肉质较软，而暗红色时弹刀弹得很严重，最好等它再次钻地变回黄色。把它相应部位破坏掉之后，变成暗红色时这里也不会再弹刀。在它朝前边喷激光时可以安逸的砍会头或胸，而钻地露出上半身喷射360°激光时可以躲进它怀里避难。在它非怒状态潜地时扔音爆有效。炎戈龙血少时回10区睡觉。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>火山的鸣动</string>
			<key>pic</key>
			<string>v6_10</string>
			<key>brief</key>
			<string>如今的怪越来越喜欢晃悠到一起了……在行商人那里多买些臭玉(こやし玉)准备喂爆锤龙吃吧。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>天与地的领域</string>
			<key>pic</key>
			<string>v6_11</string>
			<key>brief</key>
			<string>建议自带闪光弹若干。雄火龙初始8区，雌火龙初始3区，飞行趋势虽然有多种，不过它俩更倾向于如胶似漆比翼双飞(臭玉是破坏感情的好物)。雄火龙血量较少，而雌火龙容易欺负，想先杀哪只就集火吧。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>迅速雷光太刀之屏障</string>
			<key>pic</key>
			<string>v6_12</string>
			<key>brief</key>
			<string>大型连续狩猎又开始了(55555挖不到素材啊)。迅龙首先于6区登场，其次是5区的雷狼龙。选择火属性武器较好。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>沙原的救援委托</string>
			<key>pic</key>
			<string>v6_13</string>
			<key>brief</key>
			<string>土砂龙初始于3区，角龙初始于8区。选择冰属性武器较好。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>双之焰</string>
			<key>pic</key>
			<string>v6_14</string>
			<key>brief</key>
			<string>雄火龙初始于3区有向4区转移的趋势，炎戈龙初始于7区。本场战斗龙属性效果最好。</string>
			<key>key</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>大沙漠的盛宴</string>
			<key>pic</key>
			<string>v6_15</string>
			<key>brief</key>
			<string>①猫会挖取炮弹帮忙开炮，但最好别带扔爆弹的猫，不然可能会被它炸飞。
②两种炮弹都不是无限捡取的，不过进决战阶段时会刷新。
③船战阶段时击龙枪的出手机会只有一次，机不可失失不再来。</string>
			<key>key</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>终焉的吞噬者</string>
			<key>pic</key>
			<string>v6_16</string>
			<key>brief</key>
			<string>当完成包括最终紧急任务在内的所有村任务之后，此隐藏任务出现！但此任务的难度与其他村任务相比高出非常多，建议先进行集会所任务做出“上位”级别的装备再来挑战。打完恐暴龙之后，轰龙和迅龙是一起出的……</string>
			<key>key</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
