<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>片手剑</string>
		<key>pic</key>
		<string>w0</string>
		<key>brief</key>
		<string>怪物猎人 P3基本攻击技和连段和《怪物猎人3》差不多，但是招式细微的动作有作变动。和系列作相同运用灵活的动作、多彩的行动手段和在拔出武器的状态下直接使用道具的要素依然健在。因为拥有非常多连技，在面对怪物时要配合怪物

的种类找出适合的连段。可以享受使用变化多端战术狩猎的乐趣。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大剑</string>
		<key>pic</key>
		<string>w1</string>
		<key>brief</key>
		<string>怪物猎人 P3大剑的基本操作也和《怪物猎人3》几乎相同。可以使用从 拔刀斩→横击→新集气斩 的连段。但是拔刀攻击的模式有作更动。从《怪物猎人3》的冲刺、通常移动始动的拔刀斩、集气斩，变更为和《怪物猎人 携带版 2ndG》的短按按钮使出拔刀斩、长按使出集气斩相同的模式。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双剑</string>
		<key>pic</key>
		<string>w2</string>
		<key>brief</key>
		<string>P3和《怪物猎人 携带版 2ndG》比起来，双剑的攻击模式改变很大。˙压下

R

键会开啟“鬼人化”。在鬼人化时虽然体力会渐渐减少但会有钢体和鬼人化时特有的攻击动作。另外，在鬼人化状态击中敌人的话，会累积鬼人气条，但鬼人气条会随著时间慢慢减少。˙消费鬼人气条进行连续垫步，只能向前、左、右，无法往后垫步。˙鬼人气条集满就会变成鬼人强化状态，鬼人强化状态中攻击速度上升伤害也增加。˙鬼人强化状态可以消耗鬼人气条，使用△＋○按钮使出类似前作的鬼人乱舞攻击。双剑的变化性依然健在，耐力值依然是重点，和强走药跟狩猎笛的组合应该一样很强势。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太刀</string>
		<key>pic</key>
		<string>w3</string>
		<key>brief</key>
		<string>键会开啟“鬼人化”。在鬼人化时虽然体力会渐渐减少但会有钢体和鬼人化时特有的攻击动作。另外，在鬼人化状态击中敌人的话，会累积鬼人气条，但鬼人气条会随著时间慢慢减少。˙消费鬼人气条进行连续垫步，只能向前、左、右，无法往后垫步。˙鬼人气条集满就会变成鬼人强化状态，鬼人强化状态中攻击速度上升伤害也增加。˙鬼人强化状态可以消耗鬼人气条，使用△＋○按钮使出类似前作的鬼人乱舞攻击。双剑的变化性依然健在，耐力值依然是重点，和强走药跟狩猎笛的组合应该一样很强势。◆ 太刀 怪物猎人 P3  基本的攻击和连段依然和《怪物猎人3》相同，变更点为3代中气刃条集满就可以在一段时间内无限气刃斩，改变成气刃条会减少，无法再无限放。因为如此，气刃大回旋斩也会随着气刃条变得比较没机会施展也说不定，要抓准时机准确的攻击是重点。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大锤</string>
		<key>pic</key>
		<string>w4</string>
		<key>brief</key>
		<string>怪物猎人 P3  基本的攻击和连段依然和《怪物猎人3》相同，虽然不能防御，但是一样维持槌的特征边集气边回避怪物的攻击，找到破绽给怪物来一发重击。值得注意的是本作怪物也有耐力值，给予打击属性怪物也会疲累而出现破绽。从集气攻击→纵击→上挥的连段非常痛！ </string>
	</dict>
	<dict>
		<key>name</key>
		<string>狩猎笛</string>
		<key>pic</key>
		<string>w5</string>
		<key>brief</key>
		<string>P3  在2G之前演奏和攻击感觉像是分开的系统，但在本作将演奏统合在通常攻击中，所以可以顺畅的组合攻击和给予我方支援效果。边打怪边演奏感觉非常的帅。就算没有击中怪物，音色也会表现在乐谱上，所以躲在安全的地方再演奏也不是不可以。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长枪</string>
		<key>pic</key>
		<string>w6</string>
		<key>brief</key>
		<string>追加“反击突刺”、“取消突刺”可以在动作中防住攻击之后马上反击突刺(和上段动作几乎相同)，但是超大伤害的攻击(会造成角色后退的程度)挡住之后似乎没办法反击。“反击突刺”、“取消突刺”之后可以接上段和中段突刺，但之后没办法再接“反击突刺”和“取消突刺”。  和前作一样可以架着盾往前小步移动，追加消耗耐力架著盾大幅前进的动作，还可以派生上段和中段突刺。结论就是没办法像三代一样连发“反击突刺”、“取消突刺”变成比较类似2G

的操作感觉。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铳枪</string>
		<key>pic</key>
		<string>w7</string>
		<key>brief</key>
		<string>P3追加大量新攻击技，连段的种类组合大幅增加。快速装填、集气炮击的组合非常顺手，加上普通砲击可以施展出和以往完全不同的攻击组合。全弹发射的威力挺高，似乎还是比龙击炮稍微低些。快速装填→斩击→全弹发射的连段不按照此顺序似乎连不起来，要顺利全命中要抓准怪物的大破绽。总而言之在此之前铳枪使用起来感觉像是长枪的亚种，但是在这次的调整可以完全的确立铳

枪独立的地位。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>斩斧</string>
		<key>pic</key>
		<string>w8</string>
		<key>brief</key>
		<string>怪物猎人 P3基本的攻击和连技也和3相同。可以很顺畅的从斧移动到剑模式，反过来也很顺。属性解放也是很有魄力，威力非常大。本次使用的斩击斧有準备毒瓶，

看来攻击的宽广度又会更加上升。攻击力似乎有调强。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>弓</string>
		<key>pic</key>
		<string>w9</string>
		<key>brief</key>
		<string>怪物猎人 P3操作感觉基本上和2G相同，新追加的“曲射”很强。曲射是在集气之后调整着地点之后发射，空中会有无数的箭雨降下，感觉不太好命中 移动力高的怪物。所以曲射要顺利命中，应该要在魔物气绝、或是出现大破绽时使用会比较

容易。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>轻弩</string>
		<key>pic</key>
		<string>w10</string>
		<key>brief</key>
		<string>依然维持高机动力、速射等特征。在瞄准模式的画面设计更有真实感，可以更感受到狙击手的气氛。在射击之后输入方向垫可以左右垫步，回避怪物突进系攻击很方便。输入方向垫后的话会后跳。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重弩</string>
		<key>pic</key>
		<string>w11</string>
		<key>brief</key>
		<string>作为新招的“蹲下射击”，同时按下●和▲就会蹲下，接着选择子弹，蹲下

射击似乎只能装填对应其动作的子弹。蹲下架枪之后，不用装填可连续进行射
击，可以边射击边微调弹道。可以自由选择瞄准画面、简易瞄准画面来进行射击。理所当然的，在蹲下射击时没办法移动或回避。</string>
	</dict>
</array>
</plist>
